

@{
    ViewBag.title = "Save";
}

<script>
    var IntervalTime = @ViewBag.rate * 1000
    var numCalls = @ViewBag.time / @ViewBag.rate
    var prevLon
    var prevLat
    var isFirst = true
    myTimer = (function () {
        $.post("@Url.Action("GetLatLon")").done(function (lonAndLat) {
            lonAndLat = lonAndLat.split(',')
            curLon = parseFloat(lonAndLat[0])
            curLat = parseFloat(lonAndLat[1])

            pxWidth = ($(window).width() / 100)
            pxHeight = ($(window).height() / 100)

            if (isFirst) {
                isFirst = false

                cx = curLon * pxWidth
                cy = curLat * pxHeight
                circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                circle.setAttribute("cx", cx)
                circle.setAttribute("cy", cy)
                circle.setAttribute("r", 10)
                circle.setAttribute("style", "stroke:rgb(0,0,255);stroke-width:2;fill:red")
                document.getElementById("lines").appendChild(circle)

            } else {
                x1 = prevLon * pxWidth
                y1 = prevLat * pxHeight
                x2 = curLon * pxWidth
                y2 = curLat * pxHeight

                line = document.createElementNS("http://www.w3.org/2000/svg", "line");
                line.setAttribute("x1", x1)
                line.setAttribute("y1", y1)
                line.setAttribute("x2", x2)
                line.setAttribute("y2", y2)
                line.setAttribute("style", "stroke:rgb(255,0,0);stroke-width:2;stroke-dasharray:5")
                document.getElementById("lines").appendChild(line)
            }

            prevLat = curLat
            prevLon = curLon

            numCalls -= 1
            if (numCalls > 0) {
                $.post("@Url.Action("DataSave")")
            }
        })
    })

    var si = setInterval(myTimer, IntervalTime);
    myTimer();
</script>

<ul>
    <li><a href="/">Home</a></li>
</ul>
